In [1]:
# fstring(27)
letter = "my name is {}, and i am from {}"
country = "India"
name = "Prasant"
print(letter.format(country, name))

my name is India, and i am from Prasant

In [7]:
letter = "my work is {0}, and i like {1}"
work = "Google "
like = "Wandering forest"
print(letter.format(like, work))
print(f"my work is {work}, and i like {like}")

my work is Wandering forest, and i like Google
my work is Google , and i like Wandering forest

In [11]:
txt = "for only {price:.2f} dollars"
print(txt.format(price = 39.334242344))

for only 39.33 dollars

In [13]:
price = 49.332323
txt = f"for price {price:.2f}"
print(txt)

for price 49.33

In [14]:
print(f"{2*30}")

60

In [15]:
print(type(f"{2*34}"))

<class 'str'>

In [16]:
txt = f"for only {{price:.2f}} dollars"
print(txt)

for only {price:.2f} dollars

In [4]:
# docstring
def square(n):
    '''Takes in a number n, return the square root of the n'''
    print(n**2)    
square(5)
print(square.__doc__)

25
Takes in a number n, return the square root of the n

In [5]:
# docstring
def square(n):
    print(n)
    '''Takes in a number n, return the square root of the n'''
    print(n**2)    
square(5)
print(square.__doc__)

5
25
None

In [6]:
#pep 8
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [9]:
s = {2,3,5,6}
print(s)

{2, 3, 5, 6}

In [10]:
a = type(set())
print(a)

<class 'set'>

In [13]:
# exception handeling
a = input("enter an number: ")
print(f"multiplication table of {a} is:" )
for i in range(1,11):
    print(f"{int(a)}x{i} = {int(a)*i}")
print("Prasant and Pragati")

enter an number: Prasant
multiplication table of Prasant is:

ValueError: invalid literal for int() with base 10: 'Prasant'

In [19]:
list = [2,3,4,5,6, "prasant", "34",34.5, "45.6" ]
list.append(8)

In [22]:
print(list)
print(type(list))
print(len(list))

[2, 3, 4, 5, 6, 'prasant', '34', 34.5, '45.6', 8]
<class 'list'>
10

In [27]:
list.extend('prasant')
print(list)

[2, 3, 4, 5, 6, 'prasant', '34', 34.5, '45.6', 8, 'p', 'r', 'a', 's', 'a', 'n', 't', 'p', 'r', 'a', 's', 'a', 'n', 't']

In [36]:
print(list[-1:-4])
print(list[-4:-1])
print(list[-1:2])   
print(list[2:-4])

[]
['s', 'a', 'n']
[]
[4, 5, 6, 'prasant', '34', 34.5, '45.6', 8, 'p', 'r', 'a', 's', 'a', 'n', 't', 'p', 'r', 'a']

In [38]:
print(list[2:5])
list[3] = "Pragati"
print(list)

[4, 'Pragati', 6]
[2, 3, 4, 'Pragati', 6, 'prasant', '34', 34.5, '45.6', 8, 'p', 'r', 'a', 's', 'a', 'n', 't', 'p', 'r', 'a', 's', 'a', 'n', 't']

In [47]:

list.extend([2,3,"Prasant", "pragati"])
print(list)

[2, 3, 4, 'Pragati', 6, 'prasant', '34', 34.5, '45.6', 8, 'p', 'r', 'a', 's', 'a', 'n', 't', 'p', 'r', 'a', 's', 'a', 'n', 't', 2, 3, 'Prasant', 'pragati', 2, 3, 'Prasant', 'pragati', 2, 3, 'Prasant', 'pragati', 2, 3, 'Prasant', 'pragati', 2, 3, 'Prasant', 'pragati', 2, 3, 'Prasant', 'pragati']

In [48]:
list1 = [1,2,3,"prasant", 'pragati', '+']
print(list1)

[1, 2, 3, 'prasant', 'pragati', '+']

In [52]:
list1.insert(1,"prabhat")
print(list1)

[1, 'prabhat', 10, 2, 3, 'prasant', 'pragati', '+']

In [56]:
list1.remove(3)

In [57]:
print(list1)

[1, 'prabhat', 10, 'prasant', 'pragati', '+']

In [58]:
list1.pop(1)

'prabhat'

In [59]:
print(list1)

[1, 10, 'prasant', 'pragati', '+']

In [60]:
my_list = [1, 2, 3, 2]
index = my_list.index(2)
print(index)  # Output: 1

1

In [5]:
list_2 = [1,2,5,2,5,2]
print(list_2.sort())

None

In [3]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # Output: [1, 2, 3]

[1, 2, 3]

In [11]:
def print_list(list, idx=0):
    if(idx==len(list)):
        return 
    print(list[idx])
    print_list(list,idx+1)

fruits = (["man", "sdf", "sdf", "ter", "sdf"], end = "")
print_list(fruits)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2713192212.py, line 7)

In [17]:
list = [1,2,3,4,5,6]
idx = 0
for i in list:
    print(list[idx])
    idx +=1

1
2
3
4
5
6

In [20]:
list = [10,2,5,4,5,6]
idx = 0
for i in list:
    print(list[idx], end = " ")
    idx +=1

10 2 5 4 5 6

In [7]:
list = [10,2,5,4,5,6]
idx = 0
while idx<len(list):
    print(list[idx], end = " ")
    idx +=1

10 2 5 4 5 6

In [9]:
list = ["apple", "akitl", "adfef", "adfse", "dfdfdsfsd"]
newlist = []
for x in list:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'akitl', 'adfef', 'adfse']

In [11]:
list = ["apple", "akitl", "adfef", "adfse", "dfdfdsfsd"] # newlist = [expression for item in iterable if condition == True]
newlist = [s for s in fruits if "a" in x]
print(newlist)

NameError: name 'fruits' is not defined

In [12]:
a = [ 1,2,2,4,5,3]
a.sort()
print(a)

[1, 2, 2, 3, 4, 5]

In [13]:
a = [ 1,2,2,4,5,3]
a.sort(reverse = True)
print(a)

[5, 4, 3, 2, 2, 1]

In [15]:
a = ["banana", "prasant", "pragati", "priya"]
a.sort(reverse = True)
print(a)

['priya', 'prasant', 'pragati', 'banana']

In [24]:
# join two list 
list = [1,2,4]
list1 = [4,5,3]
list2 = list + list1
print(list2)

[1, 2, 4, 4, 5, 3]

In [25]:
list1 = ["prasant", "pragati", "priya", "aman", "kajal", "lilo"]
list2 = [1,3,4,5,6]
list3 = list1 + list2

In [26]:
print(list3)

['prasant', 'pragati', 'priya', 'aman', 'kajal', 'lilo', 1, 3, 4, 5, 6]

In [30]:
# append
list1 = [1,2,3,4,5]
list2 = ["Prasant", "pragati", "priya", "priyanshu"]
list1.append(3)
print(list1)

[1, 2, 3, 4, 5, 3]

In [34]:
# extend
list2.extend("prasant")
print(list2)

['Prasant', 'pragati', 'priya', 'priyanshu', 'p', 'r', 'a', 's', 'a', 'n', 't', 'p', 'r', 'a', 's', 'a', 'n', 't']

In [36]:
#sort
list1.sort()
print(list1)

[1, 2, 3, 3, 4, 5]

In [38]:
# sort in reverse order
list1.sort(reverse = True)
print(list1)

[5, 4, 3, 3, 2, 1]

In [6]:
# count
list1 = [1,2,3,4,5]
list2 = ["Prasant", "pragati", "priya", "priyanshu"]
a = list1.count(2)
print(a)

1

In [8]:
# pop
list1 = [1,2,3,4,5]
list1.pop(2)

3

In [10]:
#clear
list1.clear()
print(list1)

[]

In [ ]:
# Tuple functions