In [1]:
nums = (2,4,5,6,45,4,65,34,65,54) # search element in tuple
x = 45
i = 0
while i<len(nums):
    if(nums[i]==x):
        print("found",i)
    
    else:
        print("finding...")
    i+=1

finding...
finding...
finding...
finding...
found 4
finding...
finding...
finding...
finding...
finding...

In [2]:
i = 1 # continue
while i<= 5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

1
2
4
5

In [3]:
list = [1,3,5,6,6,7] #print list
for i in list:
    print(i, end = " ")

1 3 5 6 6 7

In [6]:
str = "prasant" # found string index using for loop
for i in str:
    if(i=='s'):
        print("found")
        break
    print(i)   
print("end")

p
r
a
found
end

In [7]:
nums = (2,3,53,54,54,65,756,75)
x = 756
idx = 0
for i in nums:
    if(i==x):
        print(idx)
    idx+=1

6

In [8]:
i = 1
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [32]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [33]:
n = int(input("enter number: "))
for i in range(1, 11):
    print(i*n)

enter number: 2
2
4
6
8
10
12
14
16
18
20

In [34]:
for n in range(5): # pass
    pass
print("Thank you")

Thank you

In [9]:
n = int(input("enter an number: ")) # print sum of n numbers using for loop 
sum = 0
for i in range(1, n+1):
    sum+=i
print(sum)

enter an number: 7
28

In [10]:
n = int(input("enter an number: "))# print sum of n numbers using while loop 
sum = 0
i = 1
while i<=n:
    sum+=i
    i +=1
print(sum)

enter an number: 3
6

In [2]:
i = 1# factorial
n = 5
fact = 1
while i<=n:
    fact *=i
    i+=1
print(fact)

120

In [11]:
fact = 1
n = 5
for i in range(1, n+1):
    fact*=i
print(fact)

120

In [4]:
# functions
def calc_sum(a,b):
    sum = print(a+b)
    return sum
calc_sum(2,3)

5

In [11]:
def print_hello():# hello function without parameters and arguments
    print("Hello")
    
output = print_hello()  
print(output)

Hello
None

In [13]:
def calc_avg(a,b,c):# avg function
    sum = a+b+c
    avg = sum/3
    return avg
calc_avg(1,3,4)

2.6666666666666665

In [3]:
print("dep")
print("Prasant", "sahu", end = " ")
print("deepak")
print("Kalyan")

dep
Prasant sahu deepak
Kalyan

In [22]:
def calc_prod(a=1,b=1):# default
    print(a*b)
    return a*b
calc_prod()

1

1

In [23]:
def calc_prod(a,b=1):
    print(a*b)
    return a*b
calc_prod(2)

2

2

In [24]:
def calc_prod(a=1,b):
    print(a*b)
    return a*b
calc_prod(2)

SyntaxError: non-default argument follows default argument (2408324922.py, line 1)

In [28]:
cities = ["prasant", "pragati", "priya", "pri"]# function to print len
heros = [2,3,4,54,64,34,34]
def print_len(cities):
    print(len(cities))
print_len(cities) 
print_len(heros)

4
7

In [31]:
print(heros[0], end = " ")
print(heros[1], end = " ")

2 3

In [40]:
def print_list(list):
    for item in list:
        print(item, end=" ")
print_list(heros)  
print_list(cities)

2 3 4 54 64 34 34 prasant pragati priya pri

In [4]:
def print_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact*=i
    print(fact)
    return fact
    
    
   
print_fact(4)
print_fact(6)

24
720

720

In [14]:
def converter(usd_val):# function logic
    inr_val = usd_val * 83
    print(usd_val, "USD", inr_val,"inr" )
converter(3)  
converter(1)

3 USD 249 inr
1 USD 83 inr

In [58]:
def print_num(val):
    if(val%2==0):
        print("even")
    else:
        print("odd")
print_num(3)

odd

In [6]:
# recursion
def show(n):
    if(n==0):# base case (call stack: call itself at last)
        return
    print(n)
    show(n-1)
    
show(5)

5
4
3
2
1

In [7]:
# Get input from the user
number = int(input("Enter a number: "))

# Initialize sum to 0
digit_sum = 0

# Iterate over each digit in the number
while number > 0:
    # Extract the last digit
    digit = number % 10
    # Add the digit to the sum
    digit_sum += digit
    # Remove the last digit from the number
    number //= 10

# Print the sum of digits
print("Sum of digits:", digit_sum)

Enter a number: 5
Sum of digits: 5

enter an number: 153
is an armstrong

In [8]:
def is_palindrome(s):
    return s==s[::-1]
num= input("enter an string: ")
if is_palindrome(num):
    print("Palindrome")
else: 
    print("NOt a palindrome")

enter an string: Prasant
NOt a palindrome

In [10]:
def factorial(n): # factorial
    if n==0:
        return 1
    else:
        return n* factorial(n-1)
num = int(input("enter an number: "))
print(factorial(num))

enter an number: 5
120

In [13]:
def fibonacci(n): #fibonacci
    fib_sequence = [0, 1]
    while fib_sequence[-1] + fib_sequence[-2]<=n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence
num = int(input("enter an number:"))
result = fibonacci(num)
print("fibonacci is", num
      , "is", result)

enter an number:5
fibonacci is 5 is [0, 1, 1, 2, 3, 5]

In [14]:
# factorial
def factorial(n):
    if n<0:
        return "factorial is not defined for negative numbers"
    elif n==0:
        return 1
    else:
        result = 1
        while n>0:
            result *=n
            n-=1
        return result
num = int(input("enter an number: "))
print(factorial(num))

enter an number: 5
120

In [22]:
# fibonacci
def fibonacci(n):
    if n<=1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
num = int(input("enter an number: "))
for i in range(num):
    print(fibonacci(i), end=" ")

enter an number: 5
1 1 2 3 5

In [16]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True
number = int(input("enter an number: "))
if is_prime(number):
    print("is a prime number")
else:
    print("not a prime number") # wrong

enter an number: 4
not a prime number

In [24]:
# sieve of eratosthenes
def sieve_of_eratosthenes(n):
    primes = [True] * (n + 1)
    primes[0] = primes[1] = False
    
    for i in range(2, int(n**0.5) + 1):
        if primes[i]:
            for j in range(i*i, n + 1, i):
                primes[j] = False
                
    return [i for i in range(n + 1) if primes[i]]

# Example usage:
n = 20
print("Prime numbers up to", n, "are:", sieve_of_eratosthenes(n))

Prime numbers up to 20 are: [2, 3, 5, 7, 11, 13, 17, 19]

In [30]:
def fact(n): # factorial using  recursion function
    if(n==0 or n==1):
        return 1
    else:
        return fact(n-1)* n
fact(5)

120

In [7]:
def calc_sum(n):
    if(n==0):
        return 0
    return calc_sum(n-1) + n
calc_sum(2)

3